:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  --text-color: black;
  --form-bg-color: #FBFBFB;
  --grad-start-color: #EEEFF2;
  --grad-end-color: #D2E9E9;
  --room-heading-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

.dark-mode {
  --text-color: #fff;
  --form-bg-color: #111111;
  --grad-end-color: #323236;
  --grad-start-color: #3F3F40;
  --room-heading-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}